.padText {
  padding: 25px;
}

.grayCard {
  background-color: rgb(245, 245, 245, 0.5);
}

.contactPage .btn {
  background: rgb(7, 41, 7) !important;
}

.grayText {
  color: lightgray !important;
}

.contactPage h1,
.contactPage h2 {
  color: rgb(7, 41, 7);
}

.contactPage .orangeText,
.contactPage p {
  color: #591200;
  font-weight: bold;
}

.contactPage {
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
