.padText {
  padding: 25px;
}

.grayCard {
  background-color: rgb(245, 245, 245, 0.5);
}

.contactPage .btn {
  background: rgb(7, 41, 7) !important;
}

.grayText {
  color: lightgray !important;
}

.contactPage h1,
.contactPage h2 {
  color: rgb(7, 41, 7);
}

.contactPage .orangeText,
.contactPage p {
  color: #591200;
  font-weight: bold;
}

/* Small devices */
@media only screen and (max-width: 1024px) {
  .contactPage {
    background-image: url(../Images/tree_picture2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .contactBtns {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
/* Large devices (laptops/desktops, 1024px and up) */
@media only screen and (min-width: 1025px) {
  .contactPage {
    background-image: url(../Images/tree_picture.png);
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
  }
}
