.padText {
  padding: 25px;
}

p {
  font-weight: bold;
  color: rgb(7, 41, 7);
}

i {
  font-size: 4rem;
}

.footer-background {
  background-color: rgb(245, 245, 245, 0.6);
}
.homeNav {
  background: transparent !important;
}

@media screen and (max-width: 992) {
  .profilePic {
    width: 5rem !important;
  }
  .familyPic {
    width: 5rem !important;
  }
}

/* Small devices */
@media only screen and (max-width: 1024px) {
  .homePage {
    background-image: url(../Images/mountainView2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  body {
    display: flex;
  }
}

/* Large devices (laptops/desktops, 1024px and up) */
@media only screen and (min-width: 1025px) {
  .homePage {
    background-image: url(../Images/tree_picture.png);
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
  }
}
