.padText {
  padding: 25px;
}

p {
  font-weight: bold;
  color: rgb(7, 41, 7);
}

i {
  font-size: 4rem;
}

.footer-background {
  background-color: rgb(245, 245, 245, 0.6);
}
.homeNav {
  background: transparent !important;
}

.homePage {
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
