.padText {
  padding: 25px;
}

p,
h5 {
  font-weight: bold;
  color: rgb(7, 41, 7);
}

.portfolioPage .btn {
  background: rgb(7, 41, 7) !important;
  color: rgba(245, 245, 245, 0.5) i !important;
  border: 2px rgb !important;
}

.portfolioContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/* Small devices */
@media only screen and (max-width: 1024px) {
  .portfolioPage {
    background-image: url(../Images/tree_picture2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
/* Large devices (laptops/desktops, 1024px and up) */
@media only screen and (min-width: 1025px) {
  .portfolioPage {
    background-image: url(../Images/tree_picture.png);
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
  }
}
