.linksRight {
  justify-content: flex-end;
}

.padText {
  padding: 25px;
}

.card {
  background-color: rgba(245, 245, 245, 0.5);
}

p,
h5 {
  font-weight: bold;
  color: rgb(7, 41, 7);
}

.portfolioPage .btn {
  background: rgb(7, 41, 7) !important;
  color: rgba(245, 245, 245, 0.5) i !important;
  border: 2px rgb !important;
}

.portfolioPage {
  background-image: url("../Images/tree_picture.png");
}

.portfolioContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
